JACKPACK_AP_IFACE=wlan0
JACKPACK_AP_SSID=JackPack
JACKPACK_AP_PASSWORD=change-this-jackpack-pass
JACKPACK_AP_ADDRESS=10.66.0.1/24
JACKPACK_AP_CHANNEL=6
JACKPACK_AP_CONNECTION=jackpack-ap
JACKPACK_ATTACK_IFACE=wlan1
JACKPACK_WIRED_IFACE=eth0
JACKPACK_HOSTNAME=jackpack
JACKPACK_INSTALL_DIR=/root/JackPack
RJ_WEB_HOST=0.0.0.0
RJ_WEB_PORT=8080
RJ_WS_HOST=0.0.0.0
RJ_WS_PORT=8765
RJ_WEBUI_INTERFACES=eth0,wlan0,tailscale0
PYTHONPATH=/root/JackPack:/root/JackPack/packjack/compat
RJ_HEADLESS=1
RJ_FRAME_MIRROR=1
RJ_SHELL_CWD=/root/JackPack
RJ_WEB_AUTH_FILE=/etc/packjack/webui_auth.json
RJ_WEB_AUTH_SECRET_FILE=/etc/packjack/webui_session_secret
RJ_WS_TOKEN_FILE=/etc/packjack/ws_token
